/* 공통 스타일 */
html {font-size: 16px;} /* 원래 body에 둬야하는데 rem 때문에 따로 추가한다. */
body {color: #555;}

/*------------------------------------
------------------header---------------*/

header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
}

header >div {
    width: 1300px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header >div >h1 {
    font-size: 20px; /* h1에는 기본적으로 갖고있는 스타일이 있어 지정해야함 */
}
header >div >h1 >a {
    color: white;
}

header >div >nav {
}
header >div >nav >a {
    color: white;
    font-size: 20px;
    padding: 0 20px;
}




/* 인덱스 페이지 내용 */

/*------------------------------------
------------------main top---------------*/

.spot {
    width: 100%;
    height: 100vh;
    background: url('../imgs/img_main.jpg') 0 0 / cover no-repeat;
    text-align: right;
    display: flex;
    justify-content:center;
    align-items: center;
}
.spot>div {
    color: white;
    width: 500px;
}
.spot>div >b {
    font-size: 64px;
}
.spot>div >p {
    font-size: 16px;
    padding: 10px 0 30px;
}
.spot>div >a {
    color: inherit;
    background-color: #A78E60;
    padding: 10px 30px;
    display: inline-block;
}

